@font-face {
    font-family: "Blackberry";
    src: url("Fonts/blackberry-normal_version_02.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Blackberry";
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    margin: 20px;
    text-align: center;
}

.category img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.about {
    margin-top: 20px;
    text-align: center;
}

.about img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.contact {
    margin-top: 20px;
    text-align: center;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
